/* marquee animation */
@keyframes scroll-slow {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-scroll-slow {
  animation: scroll-slow 40s linear infinite;
}