@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";
@plugin "daisyui" {
  themes: light , dark ;
}
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));


@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #004E4F;
  --color-secondary: #111827;
  --color-base-200: #FAFDF0;
}
@plugin "daisyui/theme" {
  name: "dark";
  default: true;
  --color-primary: #00ADB5;
  --color-secondary: #0F172A;
  --color-base-200: #FAFDF0;
}

body {
  font-family: "Poppins", sans-serif;
}

/* Utility font classes */
.font-roboto {
  font-family: "Roboto", sans-serif;
}

.font-inter {
  font-family: "Inter", sans-serif;
}

.font-poppins {
  font-family: "Poppins", sans-serif;
}




.datepicker-popper {
  z-index: 50 ;
}

.react-datepicker-popper {
  z-index: 50 ;
}

/* smooth scroll */
html {
  scroll-behavior: smooth;
}



